/* css영역 (스타일 정보 바로 기입) 파일 전체가 스타일 태그로 감싸져 있다고 생각하면 됨 */
h2 {
    color: red;
}


/* 1. 속성선택자 --------------------------------------------------------- */
/* div 요소들 중 name 속성값이 name1과 '일치' 하는 요소 => div1 해당 */
div[name=name1] {
    background-color: orangered;
}

/* div 요소들 중 name 속성값이 name1과 '포함' 되어 있는 요소 => div1, div3 해당 (공백으로 구분, 단어로써) */
div[name~=name1] {
    background-color: yellow;
}

/* div 요소들 중 class 속성값이 class로 '시작' 되는 요소 => div4 해당 (-로 구분, 단어로써) */
div[class|=class] {
    background-color: cyan;
}

/* div 요소들 중 name 속성값이 na로 '시작' 되는 요소 => 전체 해당 (Like 'na%') */
div[name^=na] {
    background-color: blue;
}

/* div 요소들 중 class 속성값이 ss로 '끝' 나는 요소 => div1, div2, div3 해당 (Like '%ss') */
div[class$=ss] {
    color: white;
}

/* div 요소들 중 class 속성값에 i가 '포함' 되어 있는 요소 => 전체 해당 (Like '%i%') */
div[class*=i] {
    background-color: yellow;
    color: red;
}

/* 응용 : class 속성값이 div-class인 요소들 중에서 name 속성값에 name3가 포함되어 있는 요소 => 배경색 : 핑크 (div3 해당) */
.div-class[name~=name3] {
    background-color: pink;
}


/* 2. 자손선택자와 후손선택자 ------------------------------------------- */
/* a>b : a요소의 자손들 중에서 b요소만을 선택 */
/* #test1>* {background-color: pink;} */

/* 아이디가 test1인 요소의 자손들 중 h4 요소만 선택 */
#test1>h4 {
    background-color: orangered;
}

/* 아이디가 test1인 요소의 자손들 중 li 요소만 선택 */
/* #test1>li {background-color: darkcyan;}  <= 불가능 */
#test1>ul>li {
    background-color: darkcyan;
}

/* a b : a요소의 후손(모든 하위 요소)들 중에서 b요소만 선택 */
#test1 li {
    color: red;
}


/* 3. 동위선택자 ------------------------------------------------------ */
#test2+div {
    background-color: yellow;
}

/* #test2+ul {background-color: pink;} */
/*제대로 선택 안됨 (바로 뒤에 있는 요소가 아니기 때문)*/

/* #test2~div {background-color: green;} */

#test2~ul {
    background-color: deeppink;
}


/* 4. 반응선택자 ------------------------------------------------------ */
.area {
    background-color: yellowgreen;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#active-test:active {
    background-color: yellow;
    color: red;
}

#hover-test:hover {
    background-color: maroon;
    color: white;
}


/* 5. 상태선택자 ------------------------------------------------------ */
input[type=checkbox]:checked {
    width: 20px;
    height: 20px;
}

input[type=checkbox]:checked+label {
    font-size: 20px;
}

input[name^=user]:focus {
    background-color: pink;
}

button:enabled {
    background-color: violet;
}

button:disabled {
    background-color: yellowgreen;
}